site_name: >-
  "Keep Okinawa Poor" The tacit understanding of Okinawa media, Naha, and Tokyo.
site_description: >-
  "Nagatachō and Naha Love 'Poor Okinawa' | 永田町と那覇は『貧しい沖縄』が大好き"
  "Keep Okinawa Poor" The tacit understanding of Okinawa media, Naha, and Tokyo. | 「沖縄は貧しいままにしよう」沖縄メディア、那覇、永田町の暗黙の了解。
  14.8 Trillion Yen of "Intentional" Failure | 14.8兆円の「意図的な」失敗
  Decoding the "Poverty Mechanism" where 14.8 Trillion Yen vanished, using data. | なぜ14.8兆円も投じて「最下位」なのか？ データが示す残酷な論理
site_author: りしき

theme:
  name: material
  logo: assets/icon_kikkosuperbold_kuro2.svg
  favicon: assets/icon_kikkosuperbold_kuro2.svg
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    admonition:
      quote: octicons/tag-16

plugins:
  - search
  - macros
  - social
  - i18n:
      docs_structure: folder # Options: 'folder' (recommended) or 'suffix'
      fallback_to_default: true
      languages:
        - locale: en
          name: English
          default: true
        - locale: ja
          name: 日本語
  - minify
          


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - nl2br
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      
hooks:
  - docs/python/strip_number_hook.py
  - docs/python/set_site_url.py
  - docs/python/smart_read_time.py
  

extra_javascript:
  - https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js
  - javascripts/chart_share.js
  - javascripts/share-headers.js

extra_css:
  - css/extra.css

